{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>"Don’t be a tourist, be a traveler" How a VC in love with travel fell for her portfolio company and co-founded V Resorts</title>
        <link href="{% static 'img/ladylogo.png' %}" rel="shortcut icon" type="image/x-icon">
        <link rel="stylesheet" href="{% static 'css/stylenews1.css' %}">
<!----Bootstrap--->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<!--jquery--->
        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
<!--Slick Carousel-->
        <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"> </script>
        <!---Font awesome-->
        <script src="https://kit.fontawesome.com/51c8af3595.js" crossorigin="anonymous"></script>
        <link href="https://fonts.googleapis.com/css2?family=Candal&family=Lora&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css">
        <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">
</head>
    <body>
    

 <header>
 <!----Back to top button--->
         <a class="gotopbtn" href="#"><i class="fas fa-arrow-circle-up"></i></a>
 <!------Navigation Bar---->
 <div class="nav-bar">
            <nav class="navbar navbar-expand-lg navbar-light">
  <a class="navbar-brand" href="website"><img src="{% static 'img/ladylogo.png' %}"></a>
                
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <a class="nav-link" href="website">HOME</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="website#about">ABOUT</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="news">NEWS</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="website#contact">CONTACT US</a>
      </li>
        <li class="nav-item">
        <a class="nav-link" href="mission">ENTERPENUR</a>
      </li>
        {% if user.is_authenticated %}
                    <li class="drop-down"><a href="javascript:void(0)">Hii, {{user.first_name}}</a>
                        <ul>
                            <li><a href="LogOut">Log Out</a></li>
                        </ul>
                    </li>
                    {% else %}
            <li class="nav-item">
              <a class="nav-link" href="/login" target="-blank">JOIN</a>
            </li>
            {% endif %}
    </ul>
  </div>
</nav>
     </div>
        
</header>

<!--Content-->
    <div class="content clearflix">
        <!---Mian content--->
        <div class="main-content-wrapper">
        <div class="main-content">
            <h1 class="post-title">"Don’t be a tourist, be a traveler" How a VC in love with travel fell for her portfolio company and co-founded V Resorts</h1>
            <div class="author">
                <p>By Jubin Mehta</p>
            </div>
       <div class="post-content">
           <p>Aditi Balbir is an avid traveler. She went on a world tour when she was 6, and ever since that trip, she jumped on to every chance of going to different places. She made sure that she traveled during the summers for about 6 weeks every year, and she even continued this with her husband, once married. Based out of Delhi, Aditi was into private equity and venture capital by profession after she did her MBA from ISB. And it was in her last stint with Bedrock Ventures when the team was discussing internally a business idea around travel.</p>
          
          <p>The “don’t touch the pickle” taboo has now been replaced with “she touched the pickle” jingle that I love to hum once in a while. It’s good to see how openly we’re addressing this taboo on mainstream media. We shouldn’t forget the millions of women who don’t have access to modern products. These women have to resort to cloth and makeshift options. But efforts of individuals like Aditi Gupta give us hope for a better future.</p>
          
          <p>Aditi Gupta, the Founder of Menstrupedia, has been working relentlessly in her effort to educate society about menstrual health and hygiene through her website.</p>
          
        <div class="post-image5">
            <img src="{% static 'img/pic5.jpg' %}">
        </div>
        
        <p>Many people in India build weekend homes and hotels in offbeat locations thinking they’d spend at least two months in these homes but things usually don’t turn out that way. These houses and hotels lie in the hands of caretakers and are kind of mismanaged. The idea was to take over these resorts and manage them. Bedrock ventures decided to invest in the idea and brought in a professional CEO to kick off operations and Aditi was on the board.</p>
        
        <p>
            Aditi got very involved with the project and joined it full time soon. She put in some of her own money as well and became the co-founder in the middle of 2012. By this time, the previous CEO had exited and Vaibhav Dayal stepped into the business as the Managing Director. Looking at the potential of the Business, Vaibhav felt that the domestic traveller was experiencing a gap in the kind of holiday destinations he would like to have versus what all was available in the market and he felt that V Resorts would be able to meet this gap. Vaibhav and Aditi have, since then, been running the venture and have got 6 resorts under their wings. Their presence is in Uttarakhand and Himachal Pradesh.
        </p>
        
        <p>V Resorts targets customers who’re looking for a comfortable stay but something offbeat is higher on their priority. V Resorts has been in the business for a while now and is looking at raising venture capital to scale up to more resorts in other states as well. Aditi says that they have identified various circuits where there are 2-3 destinations clustered together with a bunch of resorts scattered in the area. These are the kinds of circuits they identify and try to take them over. The resorts are taken over in a contract which is a hybrid model of a lease and a hotel management contract.</p>
        
        <p>V Resorts has a management team of 12 which is led by Aditi and Vaibhav, the MD. The rest of the team comprises of the tech team, bunch of travel enthusiasts from hospitality and technology domain and the call centre. 75% of the leads come from the online route while a few others come via corporates, etc. The team is currently in the process of identifying more resorts in Himachal Pradesh and consolidating here before moving onto other states.</p>
    
        </div>
        </div>
        </div>
    <!----End Main content---->
       
       
    <!---Sidebar---->
        <div class="sidebar">
         
     
         
         
          <div class="section popular">
              <h2 class="section-title">Popular</h2>
              
              <div class="post clearfix">
                  <img src="{% static 'img/pic2.jpg' %}" alt="" >
                  <a href="news2" class="title">
                      <div class="pop">
                         <div style="overflow: hidden">
                          <span>This entrepreneur has built a platform to....</span>
                      </div>
                      </div>
                  </a>
              </div>
              
             <div class="post clearfix">
                  <img src="{% static 'img/pic7.png' %}" alt="" >
                  <a href="news7" class="title">
                      <div class="pop">
                         <div style="overflow: hidden">
                          <span>Remembering Kalpana Chawla: First Indian Woman In Space..</span>
                      </div>
                      </div>
                  </a>
              </div>
              
              <div class="post clearfix">
                  <img src="{% static 'img/pic10.jpg' %}" alt="" >
                  <a href="news10" class="title">
                      <div class="pop">
                         <div style="overflow: hidden">
                          <span>The SHEROES Story And Backing Women Entrepreneurs In India..</span>
                      </div>
                      </div>
                  </a>
              </div>
              
              <div class="post clearfix">
                  <img src="{% static 'img/pic9.png' %}" alt="" >
                  <a href="news9" class="title">
                      <div class="pop">
                         <div style="overflow: hidden">
                          <span>Radhika Aggarwal of ShopClues on why small milestones...</span>
                      </div>
                      </div>
                  </a>
              </div>
              
              <div class="post clearfix">
                  <img src="{% static 'img/pic8.png' %}" alt="" >
                  <a href="" class="title">
                      <div class="pop">
                         <div style="overflow: hidden">
                          <span>Study Hall Educational Foundation: Empowering women...</span>
                      </div>
                      </div>
                  </a>
              </div>
            </div>

    </div>
    </div>

<!----End sidebar---->

<!-----------Contact Us------>
   <section id="contact">
    <div class="contactus">
    <div class="contactForm">
        <h2>Leave a Reply</h2>
        <div class="formBox">
            <div class="inputBox w50">
                <input type="text" name="" required>
                <span>First Name</span>
            </div>
            <div class="inputBox w50">
                <input type="text" name="" required>
                <span>Last Name</span>
            </div>            
            <div class="inputBox w50">
                <input type="email" name="" required>
                <span>Email Address</span>
            </div>            
            <div class="inputBox w50">
                <input type="number" name="" required>
                <span>Mobile Number</span>
            </div>            
            <div class="inputBox w50">
                <textarea type="text" name="" required></textarea>
                <span>Write your message here...</span>
            </div>
            <div class="inputBox w100">
                <input type="submit" class="btn" value="Send Message">
            </div>
            
        </div>
    </div>
       </div>
    
    </section>
<!----End Contact Us--->

<!-----Footer----->
        <footer id="footer">
        <div class="footer-container">
            <div class="left-col">
                <img src="{% static 'img/ladylogo.png' %}" alt="" class="logo">
                 <div class="social-media">
                     <a href="#"><i class="fab fa-twitter"></i></a>
                     <a href="#"><i class="fab fa-facebook-f"></i></a>
                     <a href="#"><i class="fab fa-instagram"></i></a>
                     <a href="#"><i class="fab fa-youtube"></i></a>
                     <a href="#"><i class="fab fa-linkedin-in"></i></a>
                </div>
        <p class="right-text">
          &copy; Copyright 2020 <strong><span>Womens Empowerment</span></strong>. All Rights
          Reserved
        </p>
            </div>
               <div class="right-col">
                   <h1>Join Our Instant Alert System</h1>
                   <div class="border"></div>
                       <p>Enter Your Email for our news and updates.</p>
                       <form action="" class="newsletter-form">
                           <input type="email" class="txtb" placeholder="Enter Your Email">
                           <input type="submit" class="btn" value="submit">
                       </form>
               </div>
        </div>
    </footer>

<!------End Footer---->


</body>
</html>