{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Meet the Black, Female Entrepreneurs Making a Safe Space for Minority Professionals</title>
        <link href="{% static 'img/ladylogo.png' %}" rel="shortcut icon" type="image/x-icon">
        <link rel="stylesheet" href="{% static 'css/stylenews.css' %}">
<!----Bootstrap--->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<!--jquery--->
        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
<!--Slick Carousel-->
        <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"> </script>
        <!---Font awesome-->
        <script src="https://kit.fontawesome.com/51c8af3595.js" crossorigin="anonymous"></script>
        <link href="https://fonts.googleapis.com/css2?family=Candal&family=Lora&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css">
        <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">
</head>
    <body>
    <!----Facebook page plugin-->
    
    <div id="fb-root"></div>
<script async defer crossorigin="anonymous" src="https://connect.facebook.net/en_GB/sdk.js#xfbml=1&version=v7.0" nonce="FxLFcA7h"></script>
    

 <header>
 <!----Back to top button--->
         <a class="gotopbtn" href="#"><i class="fas fa-arrow-circle-up"></i></a>
 <!------Navigation Bar---->
 <div class="nav-bar">
            <nav class="navbar navbar-expand-lg navbar-light fixed-top ">
  <a class="navbar-brand" href="website"><img src="{% static 'img/ladylogo.png' %}"></a>
                
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <a class="nav-link" href="website">HOME</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#about">ABOUT</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="news">NEWS</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="website#contact">CONTACT US</a>
      </li>
        <li class="nav-item">
        <a class="nav-link" href="mission">ENTERPENUR</a>
      {% if user.is_authenticated %}
                    <li class="drop-down"><a href="javascript:void(0)">Hii, {{user.first_name}}</a>
                        <ul>
                            <li><a href="LogOut">Log Out</a></li>
                        </ul>
                    </li>
                    {% else %}
            <li class="nav-item">
              <a class="nav-link" href="/login" target="-blank">JOIN</a>
            </li>
            {% endif %}
    </ul>
  </div>
</nav>
     </div>
        
</header>

<!--Post Content-->
    <div class="content clearflix">
        <!---Mian content--->
        <div class="main-content">
            <h1 class="recent-post-title">Latest News</h1>
    
    <div class="post clearfix">
         <img src="{% static 'img/pic6.jpg' %}" alt="" class="post-image">
            <div class="post-preview">
              <a class="news-link "href="news6" target="-blank">
                 <div class="pose">
        <div style="overflow: hidden">
            <span>A 'Beauty'ful Success Story- Falguni Nayar, CEO, Nykaa</span>
                     </div>
                  </div>
                  </a>
                <i class="far fa-user">Ravi Das</i>
                        &nbsp;
                  <i class="fas fa-calendar-week">June 16,2020</i>
                <p class="preview-text">The success story of Falguni Nayar, founder of the multi-brand beauty retailer Nykaa, is a testament to the fact that with the right training,</p>
              <div class="vision-button">
            <a class="vision-btn read-more" href="news6" target="-blank">Read more>></a>
          </div>
       </div>
    </div>
    
    <div class="post clearfix">
         <img src="{% static 'img/pic11.png' %}" alt="" class="post-image">
            <div class="post-preview">
              <a class="news-link "href="news11" target="-blank">
                 <div class="pose">
        <div style="overflow: hidden">
            <span>Life lessons from the sporting legend, Mary Kom, who saw and conquered</span>
                     </div>
                  </div>
                  </a>
                <i class="far fa-user">Sharika S Nair</i>
                        &nbsp;
                  <i class="fas fa-calendar-week">June 17,2020</i>
                <p class="preview-text">Mary Kom is a name that resonates patience and perseverance. A five-time world champion, Kom has battled far more than what we have seen her</p>
              <div class="vision-button">
            <a class="vision-btn read-more" href="news11" target="-blank">Read more>></a>
          </div>
       </div>
    </div>
    
    <div class="post clearfix">
         <img src="{% static 'img/pic7.png' %}" alt="" class="post-image">
            <div class="post-preview">
              <a class="news-link "href="news7" target="-blank">
                 <div class="pose">
        <div style="overflow: hidden">
            <span>Remembering Kalpana Chawla: First Indian Woman In Space</span>
                     </div>
                  </div>
                  </a>
                <i class="far fa-user">Sharika S Nair</i>
                        &nbsp;
                  <i class="fas fa-calendar-week">June 16,2020</i>
                <p class="preview-text">15 years ago, the world watched in horror as the US space shuttle Columbia disintegrated while reentering the earth’s atmosphere.</p>
              <div class="vision-button">
            <a class="vision-btn read-more" href="news7" target="-blank">Read more>></a>
          </div>
       </div>
    </div>
    
    <div class="post clearfix">
         <img src="{% static 'img/pic8.png' %}" alt="" class="post-image">
            <div class="post-preview">
              <a class="news-link "href="news8" target="-blank">
                 <div class="pose">
        <div style="overflow: hidden">
            <span>Study Hall Educational Foundation: Empowering women through education</span>
                     </div>
                  </div>
                  </a>
                <i class="far fa-user">Shivani singh</i>
                        &nbsp;
                  <i class="fas fa-calendar-week">June 19,2020</i>
                <p class="preview-text">Study Hall Education Foundation, started by Urvashi, educates over 6,000 students and trains over 8,000 teachers directly. It works with over 1,50,000 students, teachers, young women.</p>
              <div class="vision-button">
            <a class="vision-btn read-more" href="news8" target="-blank">Read more>></a>
          </div>
       </div>
    </div>
    
    <div class="post clearfix">
         <img src="{% static 'img/pic9.png' %}" alt="" class="post-image">
            <div class="post-preview">
              <a class="news-link "href="news9" target="-blank">
                 <div class="pose">
        <div style="overflow: hidden">
            <span>Radhika Aggarwal of ShopClues on why small milestones matter</span>
                     </div>
                  </div>
                  </a>
                <i class="far fa-user">Tanvi Dubey</i>
                        &nbsp;
                  <i class="fas fa-calendar-week">June 20,2020</i>
                <p class="preview-text">As you get closer to the top of the mountain, each milestone becomes important. With ShopClues eyeing an IPO in 2017, Radhika Ghai Aggarwal.</p>
              <div class="vision-button">
            <a class="vision-btn read-more" href="news9" target="-blank">Read more>></a>
          </div>
       </div>
    </div>
    
    <div class="post clearfix">
         <img src="{% static 'img/pic10.1.jpg' %}" alt="" class="post-image">
            <div class="post-preview">
              <a class="news-link "href="news10" target="-blank">
                 <div class="pose">
        <div style="overflow: hidden">
            <span>The SHEROES Story And Backing Women Entrepreneurs In India</span>
                     </div>
                  </div>
                  </a>
                <i class="far fa-user">Ravi Dubey</i>
                        &nbsp;
                  <i class="fas fa-calendar-week">June 21,2020</i>
                <p class="preview-text">This confident approach has held Sairee Chahal in good stead through her journey. The SHEROES founder said with a light laugh as we asked her,</p>
              <div class="vision-button">
            <a class="vision-btn read-more" href="news10" target="-blank">Read more>></a>
          </div>
       </div>
    </div>
    
        </div>
    <!----End Main content---->
       <!--Sidebar---->
        <div class="sidebar">
        
          <div class="section search">
              <h2 class="section-title">Search</h2>
              <form action="website" method="post">
                  <input type="text" name="search-term" class="text-input" placeholder="Search...">
              </form>
          </div>
          
          
          <div class="section topics">
              <h2 class="section-title">Topics</h2>
              <ul>
                  <li><a href="news3">This startup by two mothers offers 1,200</a></li>
                  <li><a href="news1">Meet the Black, Female Entrepreneurs Making a Safe</a></li>
                  <li><a href="news2">This entrepreneur has built a platform</a></li>
                  <li><a href="news9">Radhika Aggarwal of ShopClues on why small milestones</a></li>
                  <li><a href="news11">Life lessons from the sporting legend, Mary Kom</a></li>

              </ul>
          </div>
    </div>
    </div>
<!-----Nextpage---->
<section id="nextp">
<a href="news" class="previous round">&#8249;</a>
<a href="#" class="next round">&#8250;</a>
</section>


<!------end-------->

<!-----Footer----->
        <footer id="footer">
        <div class="footer-container">
            <div class="left-col">
                <img src="{% static 'img/ladylogo.png' %}" alt="" class="logo">
                 <div class="social-media">
                     <a href="#"><i class="fab fa-twitter"></i></a>
                     <a href="#"><i class="fab fa-facebook-f"></i></a>
                     <a href="#"><i class="fab fa-instagram"></i></a>
                     <a href="#"><i class="fab fa-youtube"></i></a>
                     <a href="#"><i class="fab fa-linkedin-in"></i></a>
                </div>
        <p class="right-text">
          &copy; Copyright 2020 <strong><span>Womens Empowerment</span></strong>. All Rights
          Reserved
        </p>
            </div>
               <div class="right-col">
                   <h1>Join Our Instant Alert System</h1>
                   <div class="border"></div>
                       <p>Enter Your Email for our news and updates.</p>
                       <form action="" class="newsletter-form">
                           <input type="email" class="txtb" placeholder="Enter Your Email">
                           <input type="submit" class="btn" value="submit">
                       </form>
               </div>
        </div>
    </footer>

<!------End Footer---->

</body>
</html>