{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Radhika Aggarwal of ShopClues on why small milestones matter</title>
        <link href="{% static 'img/ladylogo.png' %}" rel="shortcut icon" type="image/x-icon">
        <link rel="stylesheet" href="{% static 'css/stylenews1.css' %}">
<!----Bootstrap--->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<!--jquery--->
        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
<!--Slick Carousel-->
        <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"> </script>
        <!---Font awesome-->
        <script src="https://kit.fontawesome.com/51c8af3595.js" crossorigin="anonymous"></script>
        <link href="https://fonts.googleapis.com/css2?family=Candal&family=Lora&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css">
        <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">
</head>
    <body>

 <header>
 <!----Back to top button--->
         <a class="gotopbtn" href="#"><i class="fas fa-arrow-circle-up"></i></a>
 <!------Navigation Bar---->
 <div class="nav-bar">
            <nav class="navbar navbar-expand-lg navbar-light">
  <a class="navbar-brand" href="website"><img src="{% static 'img/ladylogo.png' %}"></a>
                
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <a class="nav-link" href="website">HOME</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="website#about">ABOUT</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="news">NEWS</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="website#contact">CONTACT US</a>
      </li>
        <li class="nav-item">
        <a class="nav-link" href="#">ENTERPENUR</a>
      </li>
        {% if user.is_authenticated %}
                    <li class="drop-down"><a href="javascript:void(0)">Hii, {{user.first_name}}</a>
                        <ul>
                            <li><a href="LogOut">Log Out</a></li>
                        </ul>
                    </li>
                    {% else %}
            <li class="nav-item">
              <a class="nav-link" href="/login" target="-blank">JOIN</a>
            </li>
            {% endif %}
    </ul>
  </div>
</nav>
     </div>
        
</header>

<!--Content-->
    <div class="content clearflix">
        <!---Mian content--->
        <div class="main-content">
           <div class="main-content-wrapper">
            <h1 class="post-title">Radhika Aggarwal of ShopClues on why small milestones matter</h1>
            <div class="author">
                <p>By Tanvi Dubey</p>
            </div>
       <div class="post-content">

           <p>As you get closer to the top of the mountain, each milestone becomes important. With ShopClues eyeing an IPO in 2017, Radhika Ghai Aggarwal, CBO and Co-founder, has her heart and mind in the right place.</p>
          
           <p>Started in 2011 with a 10-member team, Gurgaon- based ShopClues was the first to evangelise the managed marketplace from day one. According to company filings with the Ministry of Corporate Affairs, the company’s revenue stood at Rs 79 crore in the last fiscal year, compared to about Rs 31 crore in FY 2014. In January this year, they raised $100 million in funding in a Series E round led by a Singapore-based fund, and joined the Indian unicorn club.</p>
        
           <p>While all these major milestones are no doubt important, Radhika keeps a keen eye on small victories, and cherishes them, for she knows that in the long run, they lead to bigger gains – be it merchant stories, complete customer experience or being a good role model. In a freewheeling chat with YourStory, she talks about her own journey, the growth of ShopClues, her annual Town House on Women’s Day and why women entrepreneurs should not be on a separate panel.<p>
           
           <div class="post-image3">
            <img src="{% static 'img/pic9.png' %}">
           </div>
        
           <h2>An army brat</h2>
        
           <p>Growing up as an army brat who studied across 10 different schools in India, Radhika learnt basic life skills and social skills early on. Walking the tightrope between good teachers at one school and not-so-good ones at the other, she learnt to utilise opportunities to the fullest. Her social skills and the talent for making new friends moulded her personality early on.
        </p>
        
        <p>Since her father turned to entrepreneurship after his army service, Radhika’s exposure to entrepreneurship came at a fairly young age. She did a post graduation in Advertising and Public Relations, and between 1997 and 1999, she ran her own ad agency. “It had nothing do with problem solving and, therefore, the way we look at entrepreneurship today. It arose from my desire to be my own boss,” she says.</p>
        
        <h2>Early career graph</h2>
        
        <p>In 1999, she moved to the US for an MBA from Washington University in St. Louis, and soon after, joined Goldman Sachs in 2001. The next year, she moved to Nordstrom, an American chain of department stores headquartered in Seattle, Washington that was founded in 1901.</p>
        
        <p>Nordstrom proved to be a great learning ground. Not only did she learn strategic planning, but also understood, having seen it first hand, how an inverted pyramid structure got drilled into an organisation. “At Nordstrom, the customer is on the top of the inverted pyramid, and the CEO at the bottom. With the customer being the priority, even the CEO would be seen on the floor being a shoe runner, just to understand the needs of the customer better. The entire company and its ethos revolve around this concept. It helps you understand what the customer wants.”</p>
        
        <p>Radhika stayed on with the company till early 2006. After she left Nordstrom, she started Fashion Clues (2007-2009) a fashion and lifestyle website targeting South Asia and the US, which she ran single handedly.</p>
        
        <h2>Being customer-centric</h2>
        
        <p>Armed with entrepreneurial experience and her time at Nordstrom, Radhika did not begin her journey with ShopClues in 2011 as a novice. Her knowledge and experience saw her focus on small details and innovative marketing ideas and garner complete understanding of the customer.</p>
        
        <p>According to Radhika, the customer mindset in India is very different and, hence, challenging. “The customer is low on trust, and for very valid reasons.” So the company tried to be customer-focused through their buyer protection policy and tried to simplify returns to win a trust base.</p>
    
       <p>“The customer experience is important, especially when things go wrong,” says Radhika, reminiscing about the first big challenge at ShopClues. “For our first Valentine's Day, we had orders for 200 bouquets of flowers and the merchant totally ditched us. He said that he could make more money selling fresh flowers on the street that day than supplying them to us. To fix this, we went out and shipped soft toys and chocolate with the valentine’s handwritten notes, along with an apology from us. So yes, things go wrong all the time. How you react is the key test of character, and we have built a company with a strong culture and character.”</p>
       
       <h2>Touching people, touching lives</h2>
       
       <p>She calls ShopClues her third child and cherishes the ups and downs the company has gone through, particularly the big milestones – from getting 3.5 lakh merchants at the end of 2015 to raising two rounds of funding and joining the unicorn club in 2016.</p>
       
        <p>“When I look back, I think there are multiple places where we could have tripped and fallen, but we didn’t. I am very proud of the way the company has shaped. Some of our early employees have taken up responsibilities beyond their years and it’s good to see them do so well.”</p>
        
        <p>It is the lives that ShopClues has touched that matter most to her. “I cherish the small stories where ShopClues has touched the lives of merchants, merchant families and other stakeholders. The one that I hold close and always share is the one about a housewife who started selling through ShopClues; upon seeing her success, her husband decided to quit his job and join her.”</p>
        
        <h2>Work, life and challenges</h2>
        
        <p>Radhika is clear that there is no utopia when it comes to the question of work-life balance. There are compromises to be made on both fronts. What works for her is being 100 percent focused on work while in office and on her children when at home. “I have had to miss a couple of the kids’ performances because I had important meetings. I tried to explain to them why it was not possible for me to be there. My kids and family have been supportive, but there is no utopia; it can't and doesn't exist.”</p>
        
        <p>To make sure that women continue to talk about their challenges, Radhika has turned to the women employees at ShopClues. Every year on Women’s Day, she gathers all the women employees in the cafeteria for a Town Hall, where they talk about their life, challenges and other issues that matter to them. “Once, a young woman said that she was the first person to wear jeans and take up a job in her family. It was her way of rebelling and breaking stereotypes. Then she joined ShopClues because it had a woman co-founder.”</p>
        
        <p>This and many other such conversations each year help Radhika understand the importance of the influence women leaders can wield on other people’s lives, especially on those of other women, and hence, she takes the role seriously.</p>
        
        <h2>Why only women panels?</h2>
        
        <p>As a good leader and a role model to her employees and other women, the one thing that rankles Radhika is the nonchalant attitude that women entrepreneurs often face. “To many mainstream media houses, we are just a lot of women entrepreneurs. A leading media house mixed up mine and another leading woman entrepreneur’s pictures and quotes. Since we know each other, we had a good laugh. They probably think that just because our numbers are small, it doesn’t matter; we are one and the same to them.”</p>
        
        <p>One of the big changes needed in the startup ecosystem is recognition for women leaders. Also, all-women panels at major events that are slated for odd hours are a thumbs down for her. She believes that women entrepreneurs are no less than their male counterparts, and don’t need to be clubbed into a category and forgotten, or pushed to lunchtime slots. They deserve the same respect shown to men in the entrepreneurial arena.</p>
        
        <h2>Empowering employees</h2>
        
        <p>What started with a team of 10 is now a 1,000-strong organisation. As it gears up towards larger milestones and greater growth, Radhika and Sanjay Sethi (CEO and Co-Founder) have set the pace and culture for the company. “Both Sanjay and I follow an open door policy in office. We don’t have cabins, but sit with everyone else. So actually, it’s a no door policy.” </p>
        
        <p>The emphasis for the co-founders is on taking leadership and decision making. Radhika says, “We empower employees to make decisions and try. You don’t get punished for failure, but for not trying.” </p>
        
        <p>She invests in the employees, knows who is doing what, and has tracked the growth of early Awesome Startup Employees like Vidit Aggarwal, who has been covered by us. </p>
        
        <p>However, at the end of the day, Radhika knows that the buck stops with her- be it answering to the board, dealing with challenges within the company, setting the tone for leadership or being a role model. She embraces each of these tasks and roles, and embraces them with honesty, focus and passion.</p>
       
        </div>
        </div>
        </div>
    <!----End Main content---->
       
       
    <!---Sidebar---->
        <div class="sidebar">
         
     
         
         
          <div class="section popular">
              <h2 class="section-title">Popular</h2>
              
              <div class="post clearfix">
                  <img src="{% static 'img/pic2.jpg' %}" alt="" >
                  <a href="news2" class="title">
                      <div class="pop">
                         <div style="overflow: hidden">
                          <span>This entrepreneur has built a platform to....</span>
                      </div>
                      </div>
                  </a>
              </div>
              
                           <div class="post clearfix">
                  <img src="{% static 'img/pic1.jpeg' %}" alt="" >
                  <a href="news1" class="title">
                      <div class="pop">
                         <div style="overflow: hidden">
                          <span>Meet the Black, Female Entrepreneurs Making a Safe...</span>
                      </div>
                      </div>
                  </a>
              </div>
              
             <div class="post clearfix">
                  <img src="{% static 'img/pic3.png' %}" alt="" >
                  <a href="news3" class="title">
                      <div class="pop">
                         <div style="overflow: hidden">
                          <span>This startup by two mothers offers 1,200 activities....</span>
                      </div>
                      </div>
                  </a>
              </div>
              
              <div class="post clearfix">
                  <img src="{% static 'img/pic4.png' %}" alt="" >
                  <a href="news4" class="title">
                      <div class="pop">
                         <div style="overflow: hidden">
                          <span>Aditi Gupta putting an end to a period of taboos...</span>
                      </div>
                      </div>
                  </a>
              </div>
              
              <div class="post clearfix">
                  <img src="{% static 'img/pic5.jpg' %}" alt="" >
                  <a href="news5" class="title">
                      <div class="pop">
                         <div style="overflow: hidden">
                          <span>How a VC in love with travel fell for her portfolio...</span>
                      </div>
                      </div>
                  </a>
              </div>
              
            </div>
            
    </div>
    </div>

<!----End sidebar---->


<!-----------Contact Us------>
   <section id="contact">
    <div class="contactus">
    <div class="contactForm">
        <h2>Leave a Reply</h2>
        <div class="formBox">
            <div class="inputBox w50">
                <input type="text" name="" required>
                <span>First Name</span>
            </div>
            <div class="inputBox w50">
                <input type="text" name="" required>
                <span>Last Name</span>
            </div>            
            <div class="inputBox w50">
                <input type="email" name="" required>
                <span>Email Address</span>
            </div>            
            <div class="inputBox w50">
                <input type="number" name="" required>
                <span>Mobile Number</span>
            </div>            
            <div class="inputBox w50">
                <textarea type="text" name="" required></textarea>
                <span>Write your message here...</span>
            </div>
            <div class="inputBox w100">
                <input type="submit" class="btn" value="Send Message">
            </div>
            
        </div>
    </div>
       </div>
    
    </section>
<!----End Contact Us--->
<!-----Footer----->
        <footer id="footer">
        <div class="footer-container">
            <div class="left-col">
                <img src="{% static 'img/ladylogo.png' %}" alt="" class="logo">
                 <div class="social-media">
                     <a href="#"><i class="fab fa-twitter"></i></a>
                     <a href="#"><i class="fab fa-facebook-f"></i></a>
                     <a href="#"><i class="fab fa-instagram"></i></a>
                     <a href="#"><i class="fab fa-youtube"></i></a>
                     <a href="#"><i class="fab fa-linkedin-in"></i></a>
                </div>
        <p class="right-text">
          &copy; Copyright 2020 <strong><span>Womens Empowerment</span></strong>. All Rights
          Reserved
        </p>
            </div>
               <div class="right-col">
                   <h1>Join Our Instant Alert System</h1>
                   <div class="border"></div>
                       <p>Enter Your Email for our news and updates.</p>
                       <form action="" class="newsletter-form">
                           <input type="email" class="txtb" placeholder="Enter Your Email">
                           <input type="submit" class="btn" value="submit">
                       </form>
               </div>
        </div>
    </footer>

<!------End Footer---->


</body>
</html>