{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Aditi Gupta putting an end to a period of taboos with Menstrupedia</title>
        <link href="{% static 'img/ladylogo.png' %}" rel="shortcut icon" type="image/x-icon">
        <link rel="stylesheet" href="{% static 'css/stylenews1.css">
<!----Bootstrap--->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<!--jquery--->
        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
<!--Slick Carousel-->
        <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"> </script>
        <!---Font awesome-->
        <script src="https://kit.fontawesome.com/51c8af3595.js" crossorigin="anonymous"></script>
        <link href="https://fonts.googleapis.com/css2?family=Candal&family=Lora&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css">
        <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">
</head>
    <body>

 <header>
 <!----Back to top button--->
         <a class="gotopbtn" href="#"><i class="fas fa-arrow-circle-up"></i></a>
 <!------Navigation Bar---->
 <div class="nav-bar">
            <nav class="navbar navbar-expand-lg navbar-light">
  <a class="navbar-brand" href="website"><img src="C:\Users\Varun kumar\Desktop\project\{% static 'img\ladylogo.png' %}"></a>
                
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <a class="nav-link" href="website">HOME</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="website#about">ABOUT</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="news">NEWS</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="website#contact">CONTACT US</a>
      </li>
        <li class="nav-item">
        <a class="nav-link" href="mission">ENTERPENUR</a>
      </li>
        {% if user.is_authenticated %}
                    <li class="drop-down"><a href="javascript:void(0)">Hii, {{user.first_name}}</a>
                        <ul>
                            <li><a href="LogOut">Log Out</a></li>
                        </ul>
                    </li>
                    {% else %}
            <li class="nav-item">
              <a class="nav-link" href="/login" target="-blank">JOIN</a>
            </li>
            {% endif %}
    </ul>
  </div>
</nav>
     </div>
        
</header>

<!--Content-->
    <div class="content clearflix">
        <!---Mian content--->
        <div class="main-content-wrapper">
        <div class="main-content">
            <h1 class="post-title">Aditi Gupta putting an end to a period of taboos with Menstrupedia.</h1>
            <div class="author">
                <p>By Tanvi Devi</p>
            </div>
       <div class="post-content">
           <p>One of the most popular names in the menstrual hygiene product space is Whisper. Since puberty, I have always thought of how the name defined the emotion associated with it. Menstruation was something to be spoken about in a whisper so that no one would know about it.</p>
          
          <p>The “don’t touch the pickle” taboo has now been replaced with “she touched the pickle” jingle that I love to hum once in a while. It’s good to see how openly we’re addressing this taboo on mainstream media. We shouldn’t forget the millions of women who don’t have access to modern products. These women have to resort to cloth and makeshift options. But efforts of individuals like Aditi Gupta give us hope for a better future.</p>
          
          <p>Aditi Gupta, the Founder of Menstrupedia, has been working relentlessly in her effort to educate society about menstrual health and hygiene through her website.</p>
          
        <div class="post-image3">
            <img src="{% static 'img/pic4.png' %}">
        </div>
          
           <p>Aditi’s efforts are commendable, but her journey is even more inspiring. She hails from a very small semi-urban town called Garhwa in Jharkhand. Growing up in a conservative middle class family, Gupta was familiar with the taboos surrounding menstruation since an early age.</p>
           
           <p>When she got her first period, she was 12.</p>
           
            <p><strong><span>“I informed my mother about it, and she made me bathe with two-and-half mugs of water. By doing so, she believed my flow would last only for two-and-half days.”</span></strong></p>
           
           <p>
               However, this was not all. Along with the debilitating cramps came other taboos associated with menstruation. Aditi wasn’t allowed to sit on other peoples’ beds. She wasn’t allowed to touch the place of worship or anything holy in the house. She had to wash and dry her clothes separately. She wasn’t allowed to eat or touch pickle, as it was believed the pickle would spoil if she touched it. <strong><span>“After my periods would get over, I had to wash the bed sheet, whether it was stained or not. In short, I was treated as impure or polluted. I was expected to have become ‘pure’ only after the seventh day when I had taken a bath and washed my hair.”</span></strong></p>
           
           <p>Aditi’s experiences are no different from what many women in India face month on month.</p>
           
           <p>With educated and financially well-off parents, Aditi’s family could have easily afforded sanitary pads, but the question was “who would go to buy them, and risk their and the family’s dignity.” She had to resort to using cloth, which had to be washed and stored in a dark, damp and unclean corner of the bathroom. To top it all, menstruation had to be kept under the cloak from all male members in the family.</p>
           
            <div class="red">
               <p>"Even today, I feel sorry for the 12-year-old me. Back in 1992, and even today, in many societies, menstruation is an unspeakable curse, says Aditi".</p>
           </div>
           
           <p>At school, the taboos continued, despite the best efforts by authorities to educate girls. For instance, the subject of menstruation was not introduced until class ninth by which time most of the girls had already had their first period.</p>
           
           <p>A usually friendly biology male teacher skipped an entire chapter on menstruation and child birth.</p>
           
           <p>A usually friendly biology male teacher skipped an entire chapter on menstruation and child birth.</p>
           
            <p>“We learnt to deny our own body -our own self-right- from the time we started growing up, and then everything surrounding it, be it child molestation, periods, pregnancy, and intercourse. Even touching and hugging becomes shameful and embarrassing.” </p>
            
            <p>Aditi managed to bid adieu to using rags when she was admitted to a boarding school in another city, where her friends told her she could buy modern sanitary napkins in any pharmacy.</p>
            
           <p><strong><span> “So, I went to the medical shop and very shyly asked for the brand name. The shop keeper wrapped the packet with paper, put it in a black poly bag and gave it to me. I was using sanitary napkins for the first time at the age of 15.”</span></strong></p>
           
           <p>While doing her post graduation, Aditi met and later married Tuhin who was her activity partner. They often worked together on projects. Tuhin had a younger brother, so he never got a chance to know about periods beyond what was taught in school.</p>
           
           <p> Seeing what Aditi went through every month, Tuhin started to search for more information on menstruation, and different ways to manage it in the hope that he could be of some help during those days of the month.</p>
           
           <div class="post-image3">
            <img src="{% static 'img/post1.jpg' %}">
        </div>
        
        <p>“He told me many things that I myself did not know about periods,” says Aditi. She realised that if she was lacking this essential information about menstruation given her level of education, there must be million others who might be ignorant about menstrual management. “So I took up a year-long project on menstrual awareness. This research project laid the ground for Menstrupedia.”</p>
        
        <p>The response Aditi has received has been quite overwhelming. Their culturally sensitive approach of breaking the taboo associated with menstruation has been widely accepted among girls, parents and educators. The site has one lakh visitors every month, and the Menstrupedia Comic that released this September has been shipped to South America and Philippines.Such has been the response that they have volunteers ready to translate the book into eight different Indian languages and three different foreign languages. An audio-visual app in also in the pipeline. </p>
        
        <p>Things have changed for the better since Aditi reached puberty. “We can see more and more people talking about the subject. We have many articles on the subject written by people from all walks of life. Fathers and grandfathers are buying the comic book to educate their daughters.”</p>
        
        <p>The secrecy around menstruation starts at home when young girls are told to keep it under wraps even from their father or brothers. Thus, men grow up clueless, not knowing about the subject. It is important for men to be aware of it, too, as brothers, sons, fathers, partners and husbands.</p>
        
        <p>It is the people who have joined forces, and made Menstrupedia their own, who have taken up the responsibility to break the taboo in their own community.</p>
        
        <p>Aditi says, “The support we got during our crowd-funding campaign strengthened our belief in the initiative. Every story, each poem that a person shares, each voice that speaks against menstrual taboo, inspires me.”</p>
       </div>
        </div>
        </div>
    <!----End Main content---->
       
       
    <!---Sidebar---->
        <div class="sidebar">
         
          <div class="section popular">
              <h2 class="section-title">Popular</h2>
              
              <div class="post clearfix">
                  <img src="{% static 'img/pic2.jpg' %}" alt="" >
                  <a href="news2" class="title">
                      <div class="pop">
                         <div style="overflow: hidden">
                          <span>This entrepreneur has built a platform to....</span>
                      </div>
                      </div>
                  </a>
              </div>
              
             <div class="post clearfix">
                  <img src="{% static 'img/pic3.png' %}" alt="" >
                  <a href="news3" class="title">
                      <div class="pop">
                         <div style="overflow: hidden">
                          <span>This startup by two mothers offers 1,200 activities....</span>
                      </div>
                      </div>
                  </a>
              </div>
              
              <div class="post clearfix">
                  <img src="{% static 'img/pic5.jpg' %}" alt="" >
                  <a href="news5" class="title">
                      <div class="pop">
                         <div style="overflow: hidden">
                          <span>"Don’t be a tourist, be a traveler" How a VC in love...</span>
                      </div>
                      </div>
                  </a>
              </div>
              
              <div class="post clearfix">
                  <img src="{% static 'img/pic1.jpeg' %}" alt="" >
                  <a href="news1" class="title">
                      <div class="pop">
                         <div style="overflow: hidden">
                          <span>Meet the Black, Female Entrepreneurs Making a Safe...</span>
                      </div>
                      </div>
                  </a>
              </div>
              
              <div class="post clearfix">
                  <img src="{% static 'img/pic7.png' %}" alt="" >
                  <a href="news7" class="title">
                      <div class="pop">
                         <div style="overflow: hidden">
                          <span>Remembering Kalpana Chawla: First Indian Woman In Space</span>
                      </div>
                      </div>
                  </a>
              </div>
            </div>
              
    </div>
    </div>

<!----End sidebar---->

<!-----------Contact Us------>
   <section id="contact">
    <div class="contactus">
    <div class="contactForm">
        <h2>Leave a Reply</h2>
        <div class="formBox">
            <div class="inputBox w50">
                <input type="text" name="" required>
                <span>First Name</span>
            </div>
            <div class="inputBox w50">
                <input type="text" name="" required>
                <span>Last Name</span>
            </div>            
            <div class="inputBox w50">
                <input type="email" name="" required>
                <span>Email Address</span>
            </div>            
            <div class="inputBox w50">
                <input type="number" name="" required>
                <span>Mobile Number</span>
            </div>            
            <div class="inputBox w50">
                <textarea type="text" name="" required></textarea>
                <span>Write your message here...</span>
            </div>
            <div class="inputBox w100">
                <input type="submit" class="btn" value="Send Message">
            </div>
            
        </div>
    </div>
       </div>
    
    </section>
<!----End Contact Us--->
<!-----Footer----->
        <footer id="footer">
        <div class="footer-container">
            <div class="left-col">
                <img src="{% static 'img/ladylogo.png' %}" alt="" class="logo">
                 <div class="social-media">
                     <a href="#"><i class="fab fa-twitter"></i></a>
                     <a href="#"><i class="fab fa-facebook-f"></i></a>
                     <a href="#"><i class="fab fa-instagram"></i></a>
                     <a href="#"><i class="fab fa-youtube"></i></a>
                     <a href="#"><i class="fab fa-linkedin-in"></i></a>
                </div>
        <p class="right-text">
          &copy; Copyright 2020 <strong><span>Womens Empowerment</span></strong>. All Rights
          Reserved
        </p>
            </div>
               <div class="right-col">
                   <h1>Join Our Instant Alert System</h1>
                   <div class="border"></div>
                       <p>Enter Your Email for our news and updates.</p>
                       <form action="" class="newsletter-form">
                           <input type="email" class="txtb" placeholder="Enter Your Email">
                           <input type="submit" class="btn" value="submit">
                       </form>
               </div>
        </div>
    </footer>

<!------End Footer---->


</body>
</html>