{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>A 'Beauty'ful Success Story- Falguni Nayar, CEO, Nykaa</title>
        <link href="{% static 'img/ladylogo.png' %}" rel="shortcut icon" type="image/x-icon">
        <link rel="stylesheet" href="{% static 'css/stylenews1.css' %} ">
<!----Bootstrap--->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<!--jquery--->
        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
<!--Slick Carousel-->
        <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"> </script>
        <!---Font awesome-->
        <script src="https://kit.fontawesome.com/51c8af3595.js" crossorigin="anonymous"></script>
        <link href="https://fonts.googleapis.com/css2?family=Candal&family=Lora&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css">
        <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">
</head>
    <body>
    

 <header>
 <!----Back to top button--->
         <a class="gotopbtn" href="#"><i class="fas fa-arrow-circle-up"></i></a>
 <!------Navigation Bar---->
 <div class="nav-bar">
            <nav class="navbar navbar-expand-lg navbar-light">
  <a class="navbar-brand" href="website"><img src="{% static 'img/ladylogo.png' %}"></a>
                
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <a class="nav-link" href="website">HOME</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="website#about">ABOUT</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="news">NEWS</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="website#contact">CONTACT US</a>
      </li>
        <li class="nav-item">
        <a class="nav-link" href="mission">ENTERPENUR</a>
      </li>
        {% if user.is_authenticated %}
                    <li class="drop-down"><a href="javascript:void(0)">Hii, {{user.first_name}}</a>
                        <ul>
                            <li><a href="LogOut">Log Out</a></li>
                        </ul>
                    </li>
                    {% else %}
            <li class="nav-item">
              <a class="nav-link" href="/login" target="-blank">JOIN</a>
            </li>
            {% endif %}
    </ul>
  </div>
</nav>
     </div>
        
</header>

<!--Content-->
    <div class="content clearflix">
        <!---Mian content--->
        <div class="main-content-wrapper">
        <div class="main-content">
            <h1 class="post-title">A 'Beauty'ful Success Story- Falguni Nayar, CEO, Nykaa</h1>
       <div class="post-content">

        <div class="post-image3">
            <img src="{% static 'img/pic6.jpg' %}">
        </div>
        <h2>‘Think big, but start small’- Falguni Nayar, CEO, Nykaa</h2>
        
        <p>The success story of Falguni Nayar, founder of the multi-brand beauty retailer Nykaa, is a testament to the fact that with the right training, education and support women can conquer any height. She has built an empire that started off with a humble beginning, but now stands tall at 200 crores!</p>
        
        <p>Falguni Nayar, who is an IIM Ahmedabad alumnus, was the former Managing Director at Kotak Mahindra Capital Company, which she gave up to pursue the dream of becoming an entrepreneur. This choice of leaving a fruitful career behind and entering the world of entrepreneurship was driven by two factors: 1) Her love for makeup, and 2) Her curiosity to explore the online marketing platform which she recognized to have a lot of potential</p>
        
        <p>She hails from a Gujarati family, but was born and brought up in Mumbai. Her father was a businessman and she says that the seed of business was planted into her mind at a very young age. She also has said that the stock market and trade were common topics of discussion in her house.</p>
        
        <p>After graduating from IIM, Ahmedabad, Falguni Nayar spent 19 years working as an investment banker with the Kotak Mahindra group. In 2005, she took over as the Managing Director of the investment banking business post which she spearheaded the firm. It was in the year 2012 that she decided to take the huge leap of faith, by quitting her job at the age of 50 and embarking on an entrepreneurial journey. She was quick to discern that beauty was an untapped market in India and was on the way to experiencing an explosion. As for her interest in business, she drew strength from entrepreneurial giants like Ronnie Screwvala of UTV and Ajay Bijli of PVR Cinemas. Their confidence and readiness to take risks in life inspired her a lot.</p>
        
        <h2>Sucess story of Falguni Nayar</h2>
        
        <p>Nykaa was founded in 2012 and the idea came to her when she started feeling confident and empowered at being guided through the right way of using beauty products and being told which are the right products to be used. She got this experience at multi-brand beauty stores like Sephora, and Falguni, in spite of not being a regular consumer of beauty products, felt attracted to buy those worth hundreds of dollars owing to the right guidance. She felt the need to replicate this India. She also wanted the women of India to feel empowered.</p>
        
        <p>“I wanted to replicate that in India — a multi-brand retailer selling the best beauty, plus a lot of education to help customers...I wanted to stand for those women who want to be beautiful for themselves, not for men or other women. Indian women were ready for that and that's why they related to Nykaa. It was a type of empowerment.”- Falguni Nayar</p>
        
        <p>Falguni stresses on the need for women to come out of their shells and be confident about handling both professional and personal lives with equal panache. She says that if a woman with strong determination and will power aims to do something, she will definitely achieve it.</p>
        
        <p>Nykaa is primarily an e-commerce website that offers beauty and wellness products from all the leading brands including Lakmé, Kaya Skin Clinic, L'Oréal Paris, etc. It has its offline presence in 17 stores and is expanding. It has over 850+ curated brands and 35,000 products.</p>

        <p>With Falguni Nayar at the helm of Nykaa’s journey, the brand is sure to see more and more success in the coming years. The brand primarily focuses on women empowerment and provides great career options for women.</p>

 
        <p>For women interested in the beauty business, the online course on beauty and wellness on the Fair & Lovely Career Foundation is a must-do one. It will help improve your fluency in English and communication skills and build your confidence to become a beauty advisor.</p>
        
        </div>
        </div>
        </div>
    <!----End Main content---->
       
       
    <!---Sidebar---->
        <div class="sidebar">
         
     
         
         
          <div class="section popular">
              <h2 class="section-title">Popular</h2>
              
              <div class="post clearfix">
                  <img src="{% static 'img/pic2.jpg' %}" alt="" >
                  <a href="news2" class="title">
                      <div class="pop">
                         <div style="overflow: hidden">
                          <span>This entrepreneur has built a platform to....</span>
                      </div>
                      </div>
                  </a>
              </div>
              
            <div class="post clearfix">
                  <img src="{% static 'img/pic7.png' %}" alt="" >
                  <a href="news7" class="title">
                      <div class="pop">
                         <div style="overflow: hidden">
                          <span>Remembering Kalpana Chawla: First Indian Woman In Space</span>
                      </div>
                      </div>
                  </a>
              </div>
              
             <div class="post clearfix">
                  <img src="{% static 'img/pic3.png' %}" alt="" >
                  <a href="news3" class="title">
                      <div class="pop">
                         <div style="overflow: hidden">
                          <span>This startup by two mothers offers 1,200 activities....</span>
                      </div>
                      </div>
                  </a>
              </div>
              
              <div class="post clearfix">
                  <img src="{% static 'img/pic4.png' %}" alt="" >
                  <a href="news4" class="title">
                      <div class="pop">
                         <div style="overflow: hidden">
                          <span>Aditi Gupta putting an end to a period of taboos with...</span>
                      </div>
                      </div>
                  </a>
              </div>
              
              <div class="post clearfix">
                  <img src="{% static 'img/pic5.jpg' %}" alt="" >
                  <a href="news5" class="title">
                      <div class="pop">
                         <div style="overflow: hidden">
                          <span>How a VC in love with travel fell for her portfolio company...</span>
                      </div>
                      </div>
                  </a>
              </div>
            </div>
              
    </div>
    </div>

<!----End sidebar---->

<!-----------Contact Us------>
   <section id="contact">
    <div class="contactus">
    <div class="contactForm">
        <h2>Leave a Reply</h2>
        <div class="formBox">
            <div class="inputBox w50">
                <input type="text" name="" required>
                <span>First Name</span>
            </div>
            <div class="inputBox w50">
                <input type="text" name="" required>
                <span>Last Name</span>
            </div>            
            <div class="inputBox w50">
                <input type="email" name="" required>
                <span>Email Address</span>
            </div>            
            <div class="inputBox w50">
                <input type="number" name="" required>
                <span>Mobile Number</span>
            </div>            
            <div class="inputBox w50">
                <textarea type="text" name="" required></textarea>
                <span>Write your message here...</span>
            </div>
            <div class="inputBox w100">
                <input type="submit" class="btn" value="Send Message">
            </div>
            
        </div>
    </div>
       </div>
    
    </section>
<!----End Contact Us--->

<!-----Footer----->
        <footer id="footer">
        <div class="footer-container">
            <div class="left-col">
                <img src="{% static 'img/ladylogo.png' %}" alt="" class="logo">
                 <div class="social-media">
                     <a href="#"><i class="fab fa-twitter"></i></a>
                     <a href="#"><i class="fab fa-facebook-f"></i></a>
                     <a href="#"><i class="fab fa-instagram"></i></a>
                     <a href="#"><i class="fab fa-youtube"></i></a>
                     <a href="#"><i class="fab fa-linkedin-in"></i></a>
                </div>
        <p class="right-text">
          &copy; Copyright 2020 <strong><span>Womens Empowerment</span></strong>. All Rights
          Reserved
        </p>
            </div>
               <div class="right-col">
                   <h1>Join Our Instant Alert System</h1>
                   <div class="border"></div>
                       <p>Enter Your Email for our news and updates.</p>
                       <form action="" class="newsletter-form">
                           <input type="email" class="txtb" placeholder="Enter Your Email">
                           <input type="submit" class="btn" value="submit">
                       </form>
               </div>
        </div>
    </footer>

<!------End Footer---->


</body>
</html>