{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Life lessons from the sporting legend, Mary Kom, who saw and conquered</title>
        <link href="{% static 'img/ladylogo.png' %}" rel="shortcut icon" type="image/x-icon">
        <link rel="stylesheet" href="{% static 'css/stylenews1.css' %}">
<!----Bootstrap--->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<!--jquery--->
        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
<!--Slick Carousel-->
        <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"> </script>
        <!---Font awesome-->
        <script src="https://kit.fontawesome.com/51c8af3595.js" crossorigin="anonymous"></script>
        <link href="https://fonts.googleapis.com/css2?family=Candal&family=Lora&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css">
        <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">
</head>
    <body>

 <header>
 <!----Back to top button--->
         <a class="gotopbtn" href="#"><i class="fas fa-arrow-circle-up"></i></a>
 <!------Navigation Bar---->
 <div class="nav-bar">
            <nav class="navbar navbar-expand-lg navbar-light">
  <a class="navbar-brand" href="website"><img src="{% static 'img/ladylogo.png' %}"></a>
                
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <a class="nav-link" href="website">HOME</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="website#about">ABOUT</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="news">NEWS</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="website#contact">CONTACT US</a>
      </li>
        <li class="nav-item">
        <a class="nav-link" href="mission">ENTERPENUR</a>
      </li>
        {% if user.is_authenticated %}
                    <li class="drop-down"><a href="javascript:void(0)">Hii, {{user.first_name}}</a>
                        <ul>
                            <li><a href="LogOut">Log Out</a></li>
                        </ul>
                    </li>
                    {% else %}
            <li class="nav-item">
              <a class="nav-link" href="/login" target="-blank">JOIN</a>
            </li>
            {% endif %}
    </ul>
  </div>
</nav>
     </div>
        
</header>

<!--Content-->
    <div class="content clearflix">
        <!---Mian content--->
        <div class="main-content-wrapper">
        <div class="main-content">
            <h1 class="post-title">Life lessons from the sporting legend, Mary Kom, who saw and conquered</h1>
            <div class="author">
                <p>“If I being a mother of two can win a medal, so can all. Take me as an example and don’t give up.” – Mary Kom</p>
            </div>
       <div class="post-content">
          
          <p>Mary Kom is a name that resonates patience and perseverance. A five-time world champion, Kom has battled far more than what we have seen her fight in the ring. From struggling with poverty to playing the multiple roles of a mother, daughter, and elder sister, she has achieved much more than the average of us can possibly dream of.</p>
           
           <div class="post-image3">
            <img src="{% static 'img/pic11.png' %}">
           </div>
           
           <p>In an age when society loves to advise women on what’s best for them, it takes courage to chase the dreams that are so close to your heart. It’s probably easier to choose a sport that is hailed and encouraged by the vast majority, which is why Kom deserves all the respect in the world for having the will to pursue boxing. Here are a few lessons one can take home from this boxing legend:</p>
           
           <h2>Focus on your strengths</h2>
           
           <p>How often do we say to ourselves, “I don’t have a degree, hence I can’t do this,” or “I don’t know what will happen if I try out something different.” </p>
           
           <p>Never think about your weaknesses. Kom always focussed on her strengths. Often her opponents were better equipped and stronger than her, but she focussed on what she was good at and took the best advantage of it.</p>

          <h2>Always believe in yourself</h2>
          
          <p>After she became a parent, people thought her career ended. But she believed in her abilities and moved forward. Even early in her career, she had to face so many obstacles, including hunger and gender bias. But all that never deterred her will power.</p>
          
          <h2>Be grateful</h2>
          
          <p>In spite of hitting stardom, Kom never forgot those who helped her reach where she is today. She remains ever grateful to her family, coaches, and sponsors who helped her along her journey. Exercising an attitude of gratitude is what makes successful people exceptional and humble.</p>
          
          <h2>Give back</h2>
          
          <p>She gave back to the society by opening the Mary Kom Boxing Academy. She is an animal rights activist and supports PETA. Following her success, she did maximum to help her father, siblings, and brother-in-law with it. She teaches us the lesson that getting isn’t anything without giving.</p>
          
          <h2>Be brave</h2>
          
          <p>Kom was brave in the face of all adversity. Coming from a village where no one would have dream of producing a woman boxing champion, she made sure she got the right training to help her becoming a sporting champ. She even had to hide her interest in boxing since her family wouldn’t approve of it. But she remained brave and valiant through and through. Formidable, impressive, and tough, the Magnificent Mary Kom has indeed set standards that are exceptional for the women of India.</p>
           
           
        </div>
        </div>
    <!----End Main content---->
       
       
    <!---Sidebar---->
        <div class="sidebar">
         
          <div class="section popular">
              <h2 class="section-title">Popular</h2>
              
              <div class="post clearfix">
                  <img src="{% static 'img/pic2.jpg' %}" alt="" >
                  <a href="news2" class="title">
                      <div class="pop">
                         <div style="overflow: hidden">
                          <span>This entrepreneur has built a platform to....</span>
                      </div>
                      </div>
                  </a>
              </div>
              
                           <div class="post clearfix">
                  <img src="{% static 'img/pic1.jpeg' %}" alt="" >
                  <a href="news1" class="title">
                      <div class="pop">
                         <div style="overflow: hidden">
                          <span>Meet the Black, Female Entrepreneurs Making a Safe...</span>
                      </div>
                      </div>
                  </a>
              </div>
              
             <div class="post clearfix">
                  <img src="{% static 'img/pic3.png' %}" alt="" >
                  <a href="news3" class="title">
                      <div class="pop">
                         <div style="overflow: hidden">
                          <span>This startup by two mothers offers 1,200 activities....</span>
                      </div>
                      </div>
                  </a>
              </div>
              
              <div class="post clearfix">
                  <img src="{% static 'img/pic4.png' %}" alt="" >
                  <a href="news4" class="title">
                      <div class="pop">
                         <div style="overflow: hidden">
                          <span>Aditi Gupta putting an end to a period of taboos...</span>
                      </div>
                      </div>
                  </a>
              </div>
              
              <div class="post clearfix">
                  <img src="{% static 'img/pic5.jpg' %}" alt="" >
                  <a href="news5" class="title">
                      <div class="pop">
                         <div style="overflow: hidden">
                          <span>How a VC in love with travel fell for her portfolio...</span>
                      </div>
                      </div>
                  </a>
              </div>
            </div>
              
    </div>
    </div>
        </div>
<!----End sidebar---->


<!-----------Contact Us------>
   <section id="contact">
    <div class="contactus">
    <div class="contactForm">
        <h2>Leave a Reply</h2>
        <div class="formBox">
            <div class="inputBox w50">
                <input type="text" name="" required>
                <span>First Name</span>
            </div>
            <div class="inputBox w50">
                <input type="text" name="" required>
                <span>Last Name</span>
            </div>            
            <div class="inputBox w50">
                <input type="email" name="" required>
                <span>Email Address</span>
            </div>            
            <div class="inputBox w50">
                <input type="number" name="" required>
                <span>Mobile Number</span>
            </div>            
            <div class="inputBox w50">
                <textarea type="text" name="" required></textarea>
                <span>Write your message here...</span>
            </div>
            <div class="inputBox w100">
                <input type="submit" class="btn" value="Send Message">
            </div>
            
        </div>
    </div>
       </div>
    
    </section>
<!----End Contact Us--->
<!-----Footer----->
        <footer id="footer">
        <div class="footer-container">
            <div class="left-col">
                <img src="{% static 'img/ladylogo.png' %}" alt="" class="logo">
                 <div class="social-media">
                     <a href="#"><i class="fab fa-twitter"></i></a>
                     <a href="#"><i class="fab fa-facebook-f"></i></a>
                     <a href="#"><i class="fab fa-instagram"></i></a>
                     <a href="#"><i class="fab fa-youtube"></i></a>
                     <a href="#"><i class="fab fa-linkedin-in"></i></a>
                </div>
        <p class="right-text">
          &copy; Copyright 2020 <strong><span>Womens Empowerment</span></strong>. All Rights
          Reserved
        </p>
            </div>
               <div class="right-col">
                   <h1>Join Our Instant Alert System</h1>
                   <div class="border"></div>
                       <p>Enter Your Email for our news and updates.</p>
                       <form action="" class="newsletter-form">
                           <input type="email" class="txtb" placeholder="Enter Your Email">
                           <input type="submit" class="btn" value="submit">
                       </form>
               </div>
        </div>
    </footer>

<!------End Footer---->


</body>
</html>