{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>The SHEROES Story And Backing Women Entrepreneurs In India</title>
        <link href="{% static 'img/ladylogo.png' %}" rel="shortcut icon" type="image/x-icon">
        <link rel="stylesheet" href="{% static 'css/stylenews1.css' %}">
<!----Bootstrap--->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<!--jquery--->
        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
<!--Slick Carousel-->
        <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"> </script>
        <!---Font awesome-->
        <script src="https://kit.fontawesome.com/51c8af3595.js" crossorigin="anonymous"></script>
        <link href="https://fonts.googleapis.com/css2?family=Candal&family=Lora&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css">
        <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">
</head>
    <body>

 <header>
 <!----Back to top button--->
         <a class="gotopbtn" href="#"><i class="fas fa-arrow-circle-up"></i></a>
 <!------Navigation Bar---->
 <div class="nav-bar">
            <nav class="navbar navbar-expand-lg navbar-light">
  <a class="navbar-brand" href="website"><img src="{% static 'img/ladylogo.png' %}"></a>
                
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <a class="nav-link" href="website">HOME</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="website#about">ABOUT</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="news">NEWS</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="website#contact">CONTACT US</a>
      </li>
        <li class="nav-item">
        <a class="nav-link" href="mission">ENTERPENUR</a>
      </li>
        {% if user.is_authenticated %}
                    <li class="drop-down"><a href="javascript:void(0)">Hii, {{user.first_name}}</a>
                        <ul>
                            <li><a href="LogOut">Log Out</a></li>
                        </ul>
                    </li>
                    {% else %}
            <li class="nav-item">
              <a class="nav-link" href="/login" target="-blank">JOIN</a>
            </li>
            {% endif %}
    </ul>
  </div>
</nav>
     </div>
        
</header>

<!--Content-->
    <div class="content clearflix">
        <!---Mian content--->
        <div class="main-content-wrapper">
        <div class="main-content">
            <h1 class="post-title">The SHEROES Story And Backing Women Entrepreneurs In India</h1>
            <div class="author">
                <p>By Ravi Dubey</p>
            </div>
       <div class="post-content">
           
           <div class="post-image">
            <img src="{% static 'img/pic10.1.jpg' %}">
           </div>

           <p>This confident approach has held Sairee Chahal in good stead through her journey. The SHEROES founder said with a light laugh as we asked her about how hard it was for her to convince her family about her startup.</p>
          
           <p>Hailing from the small town of Muzaffarnagar in Uttar Pradesh, Chahal decided to move out just as soon as she was a teenager.</p>
        
           <p>“If you are a small-town girl, life can be pretty restrictive [there],” she said, adding that the opportunities were few, the society orthodox and what helped her through the time were books. Calling herself a ‘complete bookworm’, she recalls that by the time she was 10 or 11, she had finished reading Salman Rushdie and other authors she was ‘not supposed to read’.<p>
    
           <p>“We were always taught that we have to face our own consequences. If you make a decision, you should be prepared to face the music too!” she added.</p>
           
           <h2>The Journey That Led Her To SHEROES!</h2>
        
        <p>Leaving her house when she was just 17, Chahal got into Jawaharlal Nehru University (JNU) for the Russian language course. It was here that her life really took off.</p>

        <p>While in her second year of college, she got her first ‘project’ with a couple in the Indian Foreign Services who were being posted to Moscow. They were looking for a tutor and she readily took them up on the offer. It was a time when the USSR had disintegrated and many countries were coming up with new embassies in India. Chahal found herself working with almost all of them. So by the time she was done with her five-year course, she already had an experience of four years with her</p>
        
        <p>Soon after, she met Deepak Kamran who was a seafarer by occupation. Tired of being away from home and feeling left out about what’s happening in India, Kamran told her that seafarers such as him are always looking for ways to keep in touch with the outside world. After just one meeting, both were convinced of the partnership that they were about to embark on. And soon that led to the birth Newslink Services in 1999, which catered to those working at sea.</p>
        
        <p>After building the firm for almost four years, Chahal moved out to work for prominent names such as the Confederation of Indian Industry (CII), and then the international executive search firm Heidrick & Struggles. The latter is the only corporate stint in her career.</p>
        
        <div class="red">
        <p>“My biggest learnings out of all these things were: one, I need a big canvas to work on. I really need bigger problems to solve, something more meaningful and large. And two, I need a lot of freedom to operate. I cannot sit in a box and work, I figured I’m not made for corporate set up,” — Sairee Chahal.</p>
           </div>
           
        <div class="post-image5">
            <img src="{% static 'img/pic10.2.jpg' %}">
           </div>
        
        <h2>Back To India And Entrepreneurship</h2>
        
        <p>In 2006, she returned to India at a time when tech startups were taking off in the country and set up SAITA Consulting, a company to help tech startups scale by helping them build systems and processes. In her five years with SAITA she met a lot of women applicants with a lot of attention from very high calibre women workers. That’s when she launched Fleximoms, a community-led platform for companies and women to talk to each other.</p>
        
        <p>She started empowering women in remote areas through this platform, providing them with genuine jobs and helping them grow. All her stints so far in entrepreneurship were boutique businesses and she was faced with the question: What next?</p>
    
       <p>“I got to thinking, what do you want to do? Do you want to continue with boutiques business or do you want to venture into something bigger, something that possesses higher risk but higher growth or low risk but lower growth? And of course, I picked a high risk and higher growth,” said Chahal.</p>
       
       <p>With a background that had given her a lot of exposure and experience of the internet, Chahal came to the conclusion that while a lot was being done, many new platforms were coming up, nothing was being done in particular for the women. At least not in a constructive way. She pointed out how when people thought of building something for women, all they thought was selling to women.</p>
       
       <div class="red">
        <p>“Men have built the internet and they have built it for themselves,” – Chahal</p>
           </div>
       
       
       
       
       <h2>SHEROES: Social Media For Women, By Women</h2>
       
        <p>Even as a platform that just provided jobs and career opportunities to women, SHEROES did pretty well. In just two years, they had almost 1 Mn women and 20K companies signed up and would post 100K job listings a month, Chahal told Inc42.</p>

        <p>SHEROES then set up a helpline for women to enable them to talk to a professional if they had any sort of career questions.</p>

         <p>“Initially, we would get calls from women who wanted to talk about jobs. ‘How do I get back to work, how do I find work, how do I work part-time, how do I negotiate a salary’ and more. But soon, the conversation started to shift, and what we saw was that women were asking us about everything. They were asking us about health, relationships, in-laws, children, startups, entrepreneurship, and everything else,” pointed out Chahal.</p>
         
         <div class="red">
        <p>“Even if you built something and failed, you are still more valuable. Think of it as an amazing learning experience, you will get so much to learn and experience. We have got nothing to lose.”</p>
           </div>
        
        <p>Women started coming to SHEROES for everything. These were not just corporate women; these were women from all over India right from Tier 2 cities such as Jaipur, Aurangabad, Surat to Tier 3 cities and more. So they decided to tap into this opportunity in two ways — One, they acquired a company named Babygogo, a community for mothers, and then they shut down its job listing section.</p>
        
        <h2>Rebirth Of SHEROES</h2>
        
        <p>Realising the opportunity that lay ahead, SHEROES became a space for women to come online in a high trust environment. The idea was to help women get ‘more from life’ — from careers and jobs to health, family life and wellbeing.</p>
        
        <p>“There are a couple of themes that we follow—jobs and income opportunities, health and wellbeing, sense of identity, networking and more,” Chahal added.</p>

        <p>Chahal calls the SHEROES helpline a vital part of the company, revealing that last year it helped counsel over 9 Lakh women through that helpline. These are one-on-one conversations with counsellors, “We have a team of professionals—director of women’s health, a bunch of doctors, counsellors and more—so women can get any and every advice. And they can get it not only from a counsellor but also from other women, mentors and more who are all on the network,” explained Chahal.</p>

        <p>SHEROES is a safe environment where women can ask about any personal matter, be it related to domestic violence or legal rights or puberty, sexuality and more. Not only that but women can also buy and sell online on the platform.</p>
        
        <p>Till date, SHEROES has received total funding of over $2.6 Mn over three rounds, according to secondary research by DataLabs by Inc42, with prominent names such as Lumis Partners, Leo Capita, Vijay Shekhar Sharma and more. In addition to that in August this year, it signed a strategic partnership with fintech major Paytm. With this, Paytm added a social community platform for women within the payments app, which enabled women to engage in several topics, including health, careers, hobbies and more.</p>

        <p>To further expand its products and to provide a more seamless experience for women, it has made several acquisitions such as Gharkamai, an online platform assisting women to find work from home, health counselling platform LoveDoctor and women health app, Maya.</p>
        
        <div class="post-image6">
            <img src="{% static 'img/pic10.jpg' %}">
           </div>
        
        <h2>What Does Entrepreneurship Mean To Women Founders?</h2>
        
        <p>Talking about women entrepreneurship, Chahal says she has been very lucky. Her first venture, Newslink was totally funded by Kamran and the team she built there has travelled with her and now constitutes a major part of SHEROES.</p>

        <p>But while entrepreneurship has really taken off in the country, women entrepreneurs still do not make for a big part of the Indian startup ecosystem today. Thanks to the social stigmas or for the responsibilities that a woman has in the context of her family and children, there aren’t a lot of women who have ventured out to set up their own firms.</p>
        
        <p>Chahal feels that the conversation around women entrepreneurship needs to happen in schools and colleges, homes and even in Tier 2 and Tier 3 cities of the country.</p>
        
        <p>Narrating an incident with a senior banker, she told Inc42, she was advised to call SHEROES a social network rather than a social network for women. That strengthened her belief that women are invisible to men unless they want to sell them a product.</p>

        <p>Even then she believes that it has only become better as more women are coming up and the opportunities have increased.</p>

        <p>Chahal said in the next four or five years there will be a huge change, especially thanks to the generation change that seems to be more in-sync with women and their growth.</p>
       
       <div class="red">
        <p>“If I were a man, I would have much more money to burn, but look around you. Women have built such amazing companies with all the amount they have got.”</p>
           </div>
        </div>
        </div>
        </div>
    <!----End Main content---->
       
       
    <!---Sidebar---->
        <div class="sidebar">
         
     
         
         
          <div class="section popular">
              <h2 class="section-title">Popular</h2>
              
              <div class="post clearfix">
                  <img src="{% static 'img/pic2.jpg' %}" alt="" >
                  <a href="news2" class="title">
                      <div class="pop">
                         <div style="overflow: hidden">
                          <span>This entrepreneur has built a platform to....</span>
                      </div>
                      </div>
                  </a>
              </div>
              
             <div class="post clearfix">
                  <img src="{% static 'img/pic3.png' %}" alt="" >
                  <a href="news3" class="title">
                      <div class="pop">
                         <div style="overflow: hidden">
                          <span>This startup by two mothers offers 1,200 activities....</span>
                      </div>
                      </div>
                  </a>
              </div>
              
              <div class="post clearfix">
                  <img src="{% static 'img/pic4.png' %}" alt="" >
                  <a href="news4" class="title">
                      <div class="pop">
                         <div style="overflow: hidden">
                          <span>Aditi Gupta putting an end to a period of taboos...</span>
                      </div>
                      </div>
                  </a>
              </div>
              
              <div class="post clearfix">
                  <img src="{% static 'img/pic5.jpg' %}" alt="" >
                  <a href="news5" class="title">
                      <div class="pop">
                         <div style="overflow: hidden">
                          <span>How a VC in love with travel fell for her portfolio...</span>
                      </div>
                      </div>
                  </a>
              </div>
              
              <div class="post clearfix">
                  <img src="{% static 'img/pic6.jpg' %}" alt="" >
                  <a href="news6" class="title">
                      <div class="pop">
                         <div style="overflow: hidden">
                          <span>A 'Beauty'ful Success Story- Falguni Nayar,....</span>
                      </div>
                      </div>
                  </a>
              </div>
            </div>
              
    </div>
    </div>

<!----End sidebar---->


<!-----------Contact Us------>
   <section id="contact">
    <div class="contactus">
    <div class="contactForm">
        <h2>Leave a Reply</h2>
        <div class="formBox">
            <div class="inputBox w50">
                <input type="text" name="" required>
                <span>First Name</span>
            </div>
            <div class="inputBox w50">
                <input type="text" name="" required>
                <span>Last Name</span>
            </div>            
            <div class="inputBox w50">
                <input type="email" name="" required>
                <span>Email Address</span>
            </div>            
            <div class="inputBox w50">
                <input type="number" name="" required>
                <span>Mobile Number</span>
            </div>            
            <div class="inputBox w50">
                <textarea type="text" name="" required></textarea>
                <span>Write your message here...</span>
            </div>
            <div class="inputBox w100">
                <input type="submit" class="btn" value="Send Message">
            </div>
            
        </div>
    </div>
       </div>
    
    </section>
<!----End Contact Us--->
<!-----Footer----->
        <footer id="footer">
        <div class="footer-container">
            <div class="left-col">
                <img src="{% static 'img/ladylogo.png' %}" alt="" class="logo">
                 <div class="social-media">
                     <a href="#"><i class="fab fa-twitter"></i></a>
                     <a href="#"><i class="fab fa-facebook-f"></i></a>
                     <a href="#"><i class="fab fa-instagram"></i></a>
                     <a href="#"><i class="fab fa-youtube"></i></a>
                     <a href="#"><i class="fab fa-linkedin-in"></i></a>
                </div>
        <p class="right-text">
          &copy; Copyright 2020 <strong><span>Womens Empowerment</span></strong>. All Rights
          Reserved
        </p>
            </div>
               <div class="right-col">
                   <h1>Join Our Instant Alert System</h1>
                   <div class="border"></div>
                       <p>Enter Your Email for our news and updates.</p>
                       <form action="" class="newsletter-form">
                           <input type="email" class="txtb" placeholder="Enter Your Email">
                           <input type="submit" class="btn" value="submit">
                       </form>
               </div>
        </div>
    </footer>

<!------End Footer---->


</body>
</html>